@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.navbar{
    background: #fac031;
}

.navbar-brand{
    color: black;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.navbar-brand:hover{
    color: #ffffff;
}

.navbar-nav li a{
    color: #000000;
    font-weight: bold;
}

.navbar-nav li a:hover{
    color: #ffffff;
}

header {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    background-color: #fad131;
}

.header-text{
    text-align: justify;
    text-justify: inter-word;
}

.header-text h1{
    font-size: 3.25rem;
    font-weight: bold;
}

.header-text p{
    font-size: 1.1rem;
}

#About{
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-text{
    text-align: justify;
    text-justify: inter-word;
}

.image-wrapper {
    position: relative;
}

.image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 95%;
    height: 100%;
    background-color: #fad131;
    opacity: 0.3;
    z-index: 1;
}

#Services {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #fad131;
}

.service-card {
    position: relative;
    overflow: hidden;
}

.service-card img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s, opacity 0.3s;
}

.service-text {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s;
}

.service-card:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}

.service-card:hover .service-text {
    opacity: 1;
}

#OurTeam{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    padding-top: 5%;
}

.icon-vet i:hover{
    color: #fad031 !important;
}

#ContactUs{
    background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("../images/contact-us.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
}

/*Header Animation*/
@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-text,
.header-image {
    animation: floatIn 1s ease forwards;
}

footer{
    background: #fac031;
}






